USE [master]
GO

IF EXISTS (SELECT NAME FROM sys.databases WHERE NAME = N'quanlythuvien')
BEGIN
    ALTER DATABASE quanlythuvien SET SINGLE_USER WITH ROLLBACK IMMEDIATE
    DROP DATABASE quanlythuvien
END

CREATE DATABASE quanlythuvien
GO

USE quanlythuvien
GO

-- Set quyen cho database
ALTER AUTHORIZATION ON DATABASE::quanlythuvien TO [sa]

-------PHAN TAO BANG----------------------------------
CREATE TABLE [dbo].[ChiTietPhieuMuon](
	[maphieumuon] [varchar](25) NOT NULL,
	[masach] [varchar](25) NOT NULL,
	[tinhtrang] [bit] NOT NULL,
	[ngaytrasach] [datetime] NOT NULL,
	[tienphat] [bigint] NOT NULL,
	[manhanviennhansachtra] [varchar](25) NULL,
 CONSTRAINT [PK_ChiTietPhieuMuon] PRIMARY KEY CLUSTERED 
(
	[maphieumuon] ASC,
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 10/28/2023 11:03:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[madocgia] [varchar](25) NOT NULL,
	[tendocgia] [nvarchar](100) NOT NULL,
	[ngaysinh] [date] NOT NULL,
	[gioitinh] [nvarchar](10) NOT NULL,
	[diachi] [nvarchar](100) NOT NULL,
	[lophoc] [nvarchar](50) NOT NULL,
	[ngaytaothe] [datetime] NOT NULL,
	[manhanvientaothe] [varchar](25) NOT NULL,
	[tendangnhap] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DocGia] PRIMARY KEY CLUSTERED 
(
	[madocgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 10/28/2023 11:03:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[tendangnhap] [varchar](100) NOT NULL,
	[matkhau] [varchar](100) NOT NULL,
	[loainguoidung] [varchar](10) NOT NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[tendangnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/28/2023 11:03:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[manhanvien] [varchar](25) NOT NULL,
	[tennhanvien] [nvarchar](50) NOT NULL,
	[ngaysinh] [date] NOT NULL,
	[gioitinh] [nvarchar](10) NOT NULL,
	[sodienthoai] [char](10) NOT NULL,
	[tendangnhap] [varchar](100) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[manhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 10/28/2023 11:03:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[manhaxuatban] [varchar](25) NOT NULL,
	[tennhaxuatban] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED 
(
	[manhaxuatban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 10/28/2023 11:03:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[maphieumuon] [varchar](25) NOT NULL,
	[manhanvienlapphieu] [varchar](25) NOT NULL,
	[ngaylapphieu] [datetime] NOT NULL,
	[madocgia] [varchar](25) NOT NULL,
 CONSTRAINT [PK_PhieuMuon] PRIMARY KEY CLUSTERED 
(
	[maphieumuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 10/28/2023 11:03:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[masach] [varchar](25) NOT NULL,
	[tensach] [nvarchar](100) NOT NULL,
	[loaisach] [nvarchar](100) NOT NULL,
	[matacgia] [varchar](25) NOT NULL,
	[manhaxuatban] [varchar](25) NOT NULL,
	[ngayxuatban] [date] NOT NULL,
	[soluong] [smallint] NOT NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 10/28/2023 11:03:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[matacgia] [varchar](25) NOT NULL,
	[tentacgia] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[matacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DocGia] ([madocgia], [tendocgia], [ngaysinh], [gioitinh], [diachi], [lophoc], [ngaytaothe], [manhanvientaothe], [tendangnhap]) VALUES (N'DG001', N'Nguyễn Bình An', CAST(N'2004-10-31' AS Date), N'Nam', N'Quốc Oai, Hà Nội', N'DHTI16A12HN', CAST(N'2020-08-10' AS Date), N'NV003', N'reader1')
INSERT [dbo].[DocGia] ([madocgia], [tendocgia], [ngaysinh], [gioitinh], [diachi], [lophoc], [ngaytaothe], [manhanvientaothe], [tendangnhap]) VALUES (N'DG002', N'Nguyễn Thị Huyền', CAST(N'2002-09-03' AS Date), N'Nữ', N'Thiên Trường, Nam Định', N'DHKT14A1ND', CAST(N'2020-04-14' AS Date), N'NV005', N'reader2')
GO
INSERT [dbo].[NguoiDung] ([tendangnhap], [matkhau], [loainguoidung]) VALUES (N'admin', N'admin', N'quanly')
INSERT [dbo].[NguoiDung] ([tendangnhap], [matkhau], [loainguoidung]) VALUES (N'anhtu', N'admin', N'thuthu')
INSERT [dbo].[NguoiDung] ([tendangnhap], [matkhau], [loainguoidung]) VALUES (N'huyendieu', N'admin', N'thuthu')
GO
INSERT [dbo].[NhanVien] ([manhanvien], [tennhanvien], [ngaysinh], [gioitinh], [sodienthoai], [tendangnhap]) VALUES (N'NV001', N'Nguyễn Thiện Thắng', CAST(N'2002-03-10' AS Date), N'Nam', N'0745749454', N'nguyenthang')
INSERT [dbo].[NhanVien] ([manhanvien], [tennhanvien], [ngaysinh], [gioitinh], [sodienthoai], [tendangnhap]) VALUES (N'NV002', N'Nguyễn Anh Tú', CAST(N'2002-08-17' AS Date), N'Nam', N'0584759386', N'anhtu')
INSERT [dbo].[NhanVien] ([manhanvien], [tennhanvien], [ngaysinh], [gioitinh], [sodienthoai], [tendangnhap]) VALUES (N'NV003', N'Phạm Văn Phong', CAST(N'2002-10-04' AS Date), N'Nam', N'0318574668', N'phamphong')
GO
INSERT [dbo].[TacGia] ([matacgia], [tentacgia]) VALUES (N'TG001', N'Nguyễn Du')
INSERT [dbo].[TacGia] ([matacgia], [tentacgia]) VALUES (N'TG002', N'Nam Cao')
INSERT [dbo].[TacGia] ([matacgia], [tentacgia]) VALUES (N'TG003', N'Hồ Xuân Hương')
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuMuon_NhanVien1] FOREIGN KEY([manhanviennhansachtra])
REFERENCES [dbo].[NhanVien] ([manhanvien])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] CHECK CONSTRAINT [FK_ChiTietPhieuMuon_NhanVien1]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuMuon_Sach] FOREIGN KEY([masach])
REFERENCES [dbo].[Sach] ([masach])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] CHECK CONSTRAINT [FK_ChiTietPhieuMuon_Sach]
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD  CONSTRAINT [FK_DocGia_NguoiDung] FOREIGN KEY([tendangnhap])
REFERENCES [dbo].[NguoiDung] ([tendangnhap])
GO
ALTER TABLE [dbo].[DocGia] CHECK CONSTRAINT [FK_DocGia_NguoiDung]
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD  CONSTRAINT [FK_DocGia_NhanVien] FOREIGN KEY([manhanvientaothe])
REFERENCES [dbo].[NhanVien] ([manhanvien])
GO
ALTER TABLE [dbo].[DocGia] CHECK CONSTRAINT [FK_DocGia_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_NguoiDung] FOREIGN KEY([tendangnhap])
REFERENCES [dbo].[NguoiDung] ([tendangnhap])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_NguoiDung]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_DocGia] FOREIGN KEY([madocgia])
REFERENCES [dbo].[DocGia] ([madocgia])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_DocGia]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_NhanVien] FOREIGN KEY([manhanvienlapphieu])
REFERENCES [dbo].[NhanVien] ([manhanvien])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_NhanVien]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXuatBan] FOREIGN KEY([manhaxuatban])
REFERENCES [dbo].[NhaXuatBan] ([manhaxuatban])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaXuatBan]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TacGia] FOREIGN KEY([matacgia])
REFERENCES [dbo].[TacGia] ([matacgia])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TacGia]
GO
USE [master]
GO
